@page
@model HillerødRazorPage.Pages.AboutClubPage.AboutClubModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Hillerød Sejlklub Info</title>
</head>
<body>

    <h1>Information om Hillerød Sejlklub</h1>
    <h3>Kontakt Information.</h3>
     <br>
    <div> Klubbens Telefon Nummer: 20917829 </div>
    <br>
    <h4> Instruktører </h4>
    <div> Ivanovic Igor </div>
    <div> Telefon Nummer: 42569120</div>
    <div> Email: Ivanovic420@seksgud.ru</div>
    <br>
    <div> Jonathan Larsen </div>
    <div> Telefon Nummer: 45631528</div>
    <div> Email: Danmarksbedste@sejler.dk</div>
    <br>
    <div> Constantin Odysseus </div>
    <div> Telefon Nummer: 31215475</div>
    <div> Email: Søgerslemhavfrue@tast123.dk</div>
    <br>
    <br>

    <h3>Adresse.</h3>
    <div>Adresse: Krostien 11, 3480 Fredensborg </div>
    <a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x46523f2c3af2ed75:0x32b9f53dd9071649?sa=X&ved=1t:8290&ictx=111"> Link til Google maps</a>
    <br>
    <br>
    <br>
    <h3>Åbningstider.</h3>
    <div>Mandag - tirsdag [08:00 - 19:00] </div>
    <div>Fredag - [08:30 - 20:30] </div>

</body>
</html>
